.container-aside {
 padding-left: 30px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(110, 118, 125);
  height: 100%;
}
input {
  border-radius: 9999px;
  border: 0 solid black;
  background-color: #202327;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  color: white;
}
h3 {
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}
li{
  padding-bottom: 10px;
}
small {
  color: rgb(110, 118, 125);
}

.container-news {
  border-radius: 30px;
  border: 0 solid black;
  background-color: #1C1F23;
  padding: 10px;
  width: auto;
  margin-bottom: 25px;
}
.container-news p{
  margin:0
}
.user {
  display: grid;
  grid-template-columns: 20% 40% 5% 30%;
  margin-bottom: 15px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

button {
  border-radius: 24px;
  border: 0 solid black;
  background-color: rgb(239, 243, 244);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 35px;
  font-size: 15px;
  color: black;
  padding: 5px;
}
