<div class="d-flex-space-between container">
  <div class="container-50" [ngClass]="{'hide' : !(listPonys.length > 0)}">
    <h1>Añadidos</h1>

    <div class="selectPony" *ngFor="let pony of listPonys">
      <div
        class="circleimg"
        [ngStyle]="{
          'background-image': 'url( ' + pony.img + ')'
        }"
      ></div>

      <Span> {{ pony.name }}</Span>
    </div>

    <button
     
      class="d-flex-space-between"
      (click)="deletePony()"
    >
      Borrar último pony
    </button>
  </div>

  <div class="container-50" [ngClass]="{'hide' : !(ponysDelete.length > 0)}">
    <h1>Eliminados</h1>
    <div class="selectPony" *ngFor="let pony of ponysDelete">
      <div
        class="circleimg"
        [ngStyle]="{
          'background-image': 'url( ' + pony.img + ')'
        }"
      ></div>
      <Span> {{ pony.name }}</Span>
    </div>
    <button 
    class="d-flex-space-between"
    [ngStyle]="{ 'text-align': 'center' }"
     (click)="addPony()">
      Añadir último Pony
    </button>
  </div>
</div>
